html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-ExtraBold.woff2") format("woff2"), url("../font/Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-BlackItalic.woff2") format("woff2"), url("../font/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Black.woff2") format("woff2"), url("../font/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../font/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../font/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-ThinItalic.woff2") format("woff2"), url("../font/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-BoldItalic.woff2") format("woff2"), url("../font/Montserrat-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Bold.woff2") format("woff2"), url("../font/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-ExtraLight.woff2") format("woff2"), url("../font/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Thin.woff2") format("woff2"), url("../font/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Regular.woff2") format("woff2"), url("../font/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Italic.woff2") format("woff2"), url("../font/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-MediumItalic.woff2") format("woff2"), url("../font/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Light.woff2") format("woff2"), url("../font/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../font/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Medium.woff2") format("woff2"), url("../font/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Thin.woff2") format("woff2"), url("../font/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-ThinItalic.woff2") format("woff2"), url("../font/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-SemiBold.woff2") format("woff2"), url("../font/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-LightItalic.woff2") format("woff2"), url("../font/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat";
}

.wrapper {
  width: calc(100% - 60px);
  margin-left: auto;
  margin-right: auto;
}

.cards {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 30px;
  position: relative;
}
.cards::before, .cards::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
}
.cards::before {
  background: rgb(202, 202, 219);
  left: 20px;
  right: 20px;
  top: 100%;
}
.cards::after {
  background: rgb(231, 231, 242);
  left: 40px;
  right: 40px;
  top: calc(100% + 10px);
}

.card-inner {
  display: grid;
  gap: 30px;
}

.highlight-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
  margin-bottom: 30px;
}

.services-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  color: rgb(36, 163, 255);
  text-decoration: none;
  transition: all 0.3s;
  margin-right: 2px;
}

.services-link:hover {
  color: rgb(240, 20, 90);
}

.card-name {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  color: rgb(36, 163, 255);
  margin-top: 30px;
  margin-bottom: 15px;
  transition-duration: 0.25s;
}
.card-name:hover {
  color: rgb(240, 20, 90);
}
.card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(255, 255, 255);
}

.icon-card {
  width: 92px;
  height: 92px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  background-size: 64px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-card-ecommerce {
  background-image: url(../images/Ecommerce.svg);
}
.icon-card-support {
  background-image: url(../images/Support.svg);
}
.icon-card-corporate {
  background-image: url(../images/Coprorate.svg);
}
.icon-card-trust {
  background-image: url(../images/Trust.svg);
}
.icon-card-protection {
  background-image: url(../images/Protection.svg);
}
.icon-card-court {
  background-image: url(../images/Court.svg);
}

.wrapper-sponsor {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.sponsor-tittle {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  letter-spacing: 1px;
  color: rgb(50, 50, 100);
}

.sponsor-image {
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}
.sponsor-image-hillel {
  background-image: url(../images/hillel.png);
  background-color: rgb(28, 66, 128);
  background-size: 217px 48px;
}
.sponsor-image-wannabiz {
  background-image: url(../images/wannabiz.png);
  background-color: rgb(20, 54, 70);
  background-size: 199px 32px;
}
.sponsor-image-tapgerine {
  background-image: url(../images/tapgerine.png);
  background-color: rgb(244, 139, 48);
  background-size: 179px 44px;
}
.sponsor-image-3dlook {
  background-image: url(../images/3dlook.png);
  background-color: rgb(158, 77, 195);
  background-size: 180px 42px;
}
.sponsor-image-orangear {
  background-image: url(../images/oranger.png);
  background-color: rgb(253, 147, 57);
  background-size: 174px 44px;
}
.sponsor-image-adtelligent {
  background-image: url(../images/adtelligent.png);
  background-color: rgb(226, 226, 228);
  background-size: 195px 48px;
}
.sponsor-image-clickky {
  background-image: url(../images/clickky.png);
  background-color: rgb(199, 28, 54);
  background-size: 138px 61px;
}
.sponsor-image-eco-leasing {
  background-image: url(../images/eco-leasing.png);
  background-color: rgb(220, 243, 249);
  background-size: 146px 76px;
}
.sponsor-image-infatek {
  background-image: url(../images/infatek.png);
  background-color: rgb(234, 234, 234);
  background-size: 182px 60px;
}
.sponsor-image-city-park {
  background-image: url(../images/city-park.png);
  background-color: rgb(40, 34, 64);
  background-size: 181px 38px;
}
.sponsor-image-art-print {
  background-image: url(../images/art-print.png);
  background-color: rgb(29, 69, 104);
  background-size: 189px 46px;
}
.sponsor-image-ultimate-card {
  background-image: url(../images/ultimate-card.png);
  background-color: rgb(0, 0, 0);
  background-size: 152px 95px;
}

.mobile-hidden {
  display: none;
}

@media (min-width: 768px) {
  .wrapper {
    width: calc(100% - 120px);
  }
  .card-inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
  .sponsors-link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .mobile-hidden {
    display: block;
  }
  .highlight-text {
    font-size: 38px;
    line-height: 46px;
  }
}
@media (min-width: 1024px) {
  .card-inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .sponsors-link {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1920px) {
  .wrapper {
    width: 1600px;
  }
  .sponsor-image-hillel {
    border-top-left-radius: 12px;
  }
  .sponsor-image-3dlook {
    border-top-right-radius: 12px;
  }
  .sponsor-image-infatek {
    border-bottom-left-radius: 12px;
  }
  .sponsor-image-ultimate-card {
    border-bottom-right-radius: 12px;
  }
  .wrapper-sponsor {
    width: 1720px;
  }
}
.wrapper1 {
  width: calc(100% - 60px);
  margin-left: auto;
  margin-right: auto;
}

.slider {
  margin-top: 50px;
}

.man-slider-1 {
  width: 100%;
  height: 500px;
  border-radius: 12px 12px 0px 0px;
}

.slider-discription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  background-color: rgb(245, 245, 250);
  border-radius: 0px 0px 12px 12px;
  padding: 30px;
}
.slider-discription-text {
  margin-top: 5px;
  margin-bottom: 0px;
}
.slider-discription-author {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(179, 179, 186);
}
.slider-discription-author-job {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(179, 179, 186);
}

.slider-button {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  justify-content: center;
}

.slider-dot {
  width: 16px;
  height: 16px;
  border: 0px;
  opacity: 0.2;
  border-radius: 50%;
  background: rgb(36, 163, 255);
  transition: all 0.3s;
}

.slider-dot:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .slider-discription-text {
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
  }
}
@media (min-width: 1024px) {
  .slider-container {
    display: flex;
    flex-direction: column;
  }
  .slider-content {
    display: flex;
  }
  .man-slider-1 {
    height: 528px;
    border-radius: 12px 0 0 12px;
    width: 400px;
  }
  .slider-discription {
    width: 100%;
    border-radius: 0 12px 12px 0;
  }
}
@media (min-width: 1440px) {
  .man-slider-1 {
    height: 344px;
    width: 400px;
  }
  .slider-discription {
    width: 100%;
    border-radius: 0px 12px 12px 0px;
  }
}
@media (min-width: 1920px) {
  .slider-content {
    height: 298px;
  }
  .man-slider-1 {
    height: 298px;
  }
  .slider-discription {
    width: 1200px;
  }
}
.publications {
  margin-top: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: rgb(245, 245, 250);
}

.publications-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}

.public-card {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  border-radius: 0px 0px 8px 8px;
}

.people-images {
  width: 100%;
  display: none;
}

.public-card-text-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.public-card-text-container-tittle {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  color: rgb(36, 163, 255);
  transition: all 0.3s;
}
.public-card-text-container-tittle:hover {
  color: rgb(240, 20, 90);
}
.public-card-text-container-date {
  position: relative;
  margin-top: 15px;
  margin-bottom: 34px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  color: rgb(179, 179, 186);
}
.public-card-text-container-date::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgb(230, 230, 240);
}
.public-card-text-container-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
  .publications-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .public-card:nth-child(3) {
    grid-column: 1/-1;
  }
  .people-card-images {
    display: none;
  }
  .people-images {
    display: block;
  }
}
@media (min-width: 1024px) {
  .publications-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .public-card:nth-child(3) {
    grid-column: auto/auto;
  }
  .people-images {
    display: none;
  }
  .people-card-images {
    display: block;
  }
}
.experience-container {
  display: flex;
  justify-content: center;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  background-size: cover;
  background-attachment: fixed;
  padding-top: 30px;
  padding-bottom: 30px;
}

.experience {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 30px;
  margin-bottom: 60px;
  border-bottom: 4px solid rgba(255, 255, 255, 0.3);
}

.experience-button {
  border: none;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
  color: rgb(179, 179, 186);
  cursor: pointer;
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
  flex-shrink: 0;
  transition: all 0.3s;
}
.experience-button:hover {
  color: rgb(240, 20, 90);
}

.experience-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.experience-description-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.38px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}
.experience-description-text {
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .experience-button {
    font-size: 38px;
    line-height: 46px;
  }
  .experience-description-title {
    font-size: 30px;
    line-height: 37px;
  }
  .experience-container {
    padding-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  .experience-content {
    display: flex;
    justify-content: center;
  }
  .experience {
    border-right: 4px solid rgba(255, 255, 255, 0.3);
    flex-direction: column;
    align-items: flex-end;
    padding-right: 60px;
    margin-right: 60px;
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
    overflow-x: visible;
  }
}
@media (min-width: 1440px) {
  .experience-description {
    max-width: 581px;
  }
}
@media (min-width: 1920px) {
  .experience-description {
    max-width: 861px;
  }
}

/*# sourceMappingURL=style.css.map */
