@use 'variables' as *;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat';
}

.-b-bg-gradient {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.wrapper {
    width: calc(100% - 60px);
    margin-left: auto;
    margin-right: auto;
}

html {
    scroll-behavior: smooth;
}

.service-menu-active {
    color: $accent-color !important;
}
