.publications {
    padding-bottom: 30px;
    padding-top: 60px;
    background-color: rgba(245, 245, 250, 1);
}

.publications-cards {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
}

.public-card {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;

    img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 8px 8px 0px 0px;
    }
}

.people-images {
    width: 100%;
    display: none;
}

.public-card-text-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &-tittle {
        font-size: 16px;
        font-weight: 700;
        line-height: 19.5px;
        color: rgba(36, 163, 255, 1);
        transition: all 0.3s;
        margin-bottom: 0px;

        &:hover {
            color: rgba(240, 20, 90, 1);
        }
    }

    &-date {
        position: relative;
        margin-top: 15px;
        margin-bottom: 34px;
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 1px;
        color: rgba(179, 179, 186, 1);
        
        &::before {
            content: '';
            position: absolute;
            top: 30px;
            left: 0;
            width: 100%;
            height: 4px;
            background: rgba(230, 230, 240, 1);
        }
    }

    &-info {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 0px;
    }
}

@media (min-width:768px) {
    .publications-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .public-card:nth-child(3) {
        grid-column: 1/-1;
    }

}

@media (min-width:1024px) {
    .publications-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .public-card:nth-child(3) {
        grid-column: auto / auto;
    }


}
