@use 'variables' as *;

.hero-services {
    background-image: none;
    min-height: auto;
}

.min-h-0vh {
    min-height: 0vh;
}

.logo-services {
    max-width: 170px;
}

.bg-consultation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $grayBg-color; /* Adjust the color and opacity */
    z-index: 1000;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: $grayBg-color; /* or any other background color */
    padding: 30px; /* Adjust as needed */
    border-radius: 8px; /* Optional: for rounded corners */
}

@media (min-width: 768px) {
    .popup-content {
        width: 650px;
    }

    .bg-consultation {
        background-color: rgba(50, 50, 100, 0.8);
    }
}


.consultation-title-container {
    justify-content: space-between;
    display: flex;
}

.form-heading {
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    letter-spacing: 1px;
    color: rgba(179, 179, 186, 1);
    margin-top: 30px;
    margin-bottom: 15px;
}

.b-form-control {
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.b-form-control::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: rgba(179, 179, 186, 1);
}

@media (min-width :768px) {
    .logo-services {
        max-width: 302px;
    }

    .highlight-text-mb {
        margin-bottom: 60px;
    }
}